*, ::before, ::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*border: 1px solid;*/
}

.header_big{
	display: flex;
	justify-content: space-between;
	padding-left: 90px;
	position: sticky;
	top: 0;
	border-bottom: 1px solid whitesmoke;
	background: white;
	z-index: 1;
}

.img-header img{
	width: 90px;
	height: 70px;
	border-radius: 50%;u
}
.ul-header{
	display: flex;/*pour aligner horizontalement*/
	text-align: center;
	position: sticky;
	
}

#list{
	display: flex;
	list-style-type: none; /*supprime les puce de la liste */
	gap: 10px;
}
#list li{
	margin-right: 20px;
}
#list li a{
	text-decoration: none;
	color: black; /* Couleur initiale du texte */
    transition: transform 0.3s ease, background-color 0.3s ease;

	/*color: black;
	text-decoration: none; /*supprimer les décorations*/
}
#list li a:hover {
	color: greenyellow; /* Change la couleur du texte lors du survol */

}

.header_pr {
	display: flex;/*pour aligner horizontalement*/
	padding-right: 50px;
	justify-content: space-between;
	transition: transform 0.3s, color 0.3s ;
}
.header_pr: hover{
	transform: scale(1.3);
	color: greenyellow;
}

.header_pr i{
	cursor: pointer;
	color: black;
	justify-content: space-between;
	margin-right: 20px;
}
/*Fin de mon header*/

.section1{
	max-width: 1300px;
	width: 70%;
	height: auto;
	justify-content: center;
	justify-items: center;
	display: grid;
	margin: 0 auto;
	margin-top: 3vw;
	grid-template-columns: repeat(3, 1fr); /*permet de mettre horizontalement les grid*/
	align-items: flex-end;/*permet d'aligner en bas de la grid*/

}

/*Début Item1*/
.grid-item1{
	width: 300px;
	height: auto;
	justify-content: space-between;

}
h1{
	font-size: 42px;
	margin-bottom: 30px;
}
p{
	margin-bottom: 30px;
}
.butt1{
	cursor: pointer;
	color: white;
	padding: 2px 10px;
	border-radius: 10%;
	background: greenyellow;
	border: solid greenyellow;
}
.butt2{
	cursor: pointer;
	padding: 2px 10px;
	border-radius: 10%;
	border: solid greenyellow;
	margin-left: 10px;
}
/*FIN Item1*/

/*Début Item2*/
.grid-item2{
	width: 21vw;
	height: auto;
	margin-left: 50px;
	border: solid;
}

.grid-item2 img{
	height: 28vw;
	width: 21vw;
	border-radius: 5%;
}
/*Fin de Item2*/

/*Debut de Item3*/
.grid-item3{
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(2, 20vw);
	width: 20vw;
	height: auto;
	border: solid;
}



.grid-item3 img{
	border: solid;
	border-radius: 5%;
	width: 20vw;
	height: 16vw;
}
/*fin de la section1*/



/*Début section2*/
.section2{
	max-width: 1300px;
	width: 80%;
	height: 500px;
	justify-items: center;
	justify-content: space-around;
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	margin: 30px auto;
	padding: 60px 0;
	border: solid whitesmoke;
	border-radius: 5%;
	background: whitesmoke;
}

/*Début Grid1*/
.grid1{
	margin-top: 30px;
	width: 450px;
	height:300px;
	padding-left: 35px;
	justify-content: space-between;
}
.grid1 p{
	margin-top: 20px;
}
.grid1 button{
	cursor: pointer;
	color: white;
	margin-top: 20px;
	padding: 3px;
	border: solid greenyellow;
	border-radius: 10%;
	background: greenyellow;
}
/*Début grid2*/
.grid2{
	margin-top: 30px;
	width: 430px;
	height: 350px;
}
.grid2 img{
	width: 55vh;
	height: 55vh;
	border: solid greenyellow;
	border-radius: 10%;
	margin: 0 50px;
	padding: auto;
}

/*début grid3*/
.grid3{
	justify-content: center;
	width: 300px;
	height: auto;
	padding: 10px 0;
	margin-top: 50vh;
	position: absolute;
	display: flex;
	border: solid whitesmoke;
	border-radius: 3%;
	background: white;
	z-index: 0;
}
#div2{
	margin-left: 50px;
}
#div2 h1{
	text-align: center;
}


/*Fin section 2*/


/*début section 3*/
.section3{
	max-width: 1300px;
	width: 80%;
	height: auto;
	margin: 30px auto;
}
.section3 h1{
	text-align: center;
}

/*Début grills*/
.GRILLS{
	max-width: 1300px;
	width: 80%;
	height: auto;
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
	border: 1px solid whitesmoke;
	gap: 10px;
	margin: 30px auto;
	background: whitesmoke;
}
.GRILLS h3{
	text-align: center;
}

/*Début grill1*/
.grill1{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill1 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}

/*Début grill2*/
.grill2{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill2 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}

/*début grill3*/
.grill3{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill3 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}

/*Début grill4*/
.grill4{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill4 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}

/*Début grill5*/
.grill5{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill5 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}

/*Début grill6*/
.grill6{
	justify-items: center;
	height: 200px;
	background: white;
	padding: 10px;
	border: solid whitesmoke;
}
.grill6 i{
	padding: 10px 10px;
	width: 50px;
	height: 50px;
	background: greenyellow;
	border: solid greenyellow;
	border-radius: 50%;
}